.contaner{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.list{
    width: 13%;
    height: 100vh;
    overflow: auto;
}
.message{
    width: 87%;
    
}
.history{
    height: 85vh;
    padding-top: 60px;
    overflow-y: auto;
}
.input{
    height: 15vh;
}

