<div class="container">
    <form [formGroup]='formGrop' (ngSubmit)='login()'>


    <label ><b>Enter your full name</b></label>
    <input formControlName='user' placeholder=" your-full-name">

    <label ><b>Enter your email</b></label>
    <input formControlName='email' placeholder=" your-email">

    <label><b>Password</b></label>
    <input formControlName='password' placeholder="Password">
        
    <button id="login" type="submit" [disabled]='!formGrop.valid'>Continue</button>
     </form>

</div>